In [1]:
import json
import csv
import tweepy
import re
import nltk
from nltk.stem import WordNetLemmatizer
import pandas as pd
import GetOldTweets3 as got
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()
import numpy as np

In [2]:
consumer_key = input()
consumer_secret = input()
access_key = input()
access_secret = input()

BZCiEnipIjwlIr5qdFawFL7Ka
UTHnBo6nzb5HhsQGoFxjEHBHArDAlT9VyXx8x98AObzpV6iArr
757468675414695936-wVM842i23t6yTUDhbwuKkH92LGnZRAq
TEFpzrCMH8aYl7YURiygG6Mgk76BAM9tLNWagI8JBAHiZ

In [3]:
#scrape tweets with keyword "iitmadras" with columns text,date,username and retweets
text_query = 'iitkanpur'
since_date = '2020-01-01'
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setLang('en')
# Creation of list that contains all tweets
tw = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.text ,tweet.date,tweet.username,tweet.retweets] for tweet in tw]

In [4]:
len(text_tweets)

10047

In [6]:
tweets_df = pd.DataFrame(text_tweets)
tweets_df=tweets_df.drop_duplicates()

In [7]:
tweets_df

,0,1,2,3
0,The valuation subject should be post graduate ...,2020-06-12 14:45:07+00:00,shekhargupta68,0
1,Heartiest congratulations,2020-06-12 14:43:09+00:00,truspectra,0
2,The new norm after #COVID19 ...what are the ch...,2020-06-12 14:40:03+00:00,spf_in,0
3,It's as real as #sunrises in the #east,2020-06-12 14:28:26+00:00,raj_knp,0
4,"civil engineers of all IIT institutes , it is...",2020-06-12 14:27:10+00:00,shekhargupta68,0
...,...,...,...,...
10042,"In a seemingly bizarre development, the IIT in...",2020-01-01 04:24:51+00:00,dgp202079,6
10043,"In a seemingly bizarre development, the IIT in...",2020-01-01 04:15:42+00:00,NH_India,12
10044,IIT Kanpur panel to decide if Faiz poem is ant...,2020-01-01 04:12:34+00:00,thetribunechd,371
10045,New Year Resolutions for @IITKanpur,2020-01-01 02:33:03+00:00,SyedFatehAlam,0
10046,A faculty at IIT Kanpur has submitted this vid...,2020-01-01 02:30:29+00:00,RENEWEDPKP,0

In [9]:
tweets_df.columns = ['Tweet_text' , 'date' , 'username','retweets']

In [10]:
tweets_df
#tweets_df.to_csv('og_iitm.csv')

,Tweet_text,date,username,retweets
0,The valuation subject should be post graduate ...,2020-06-12 14:45:07+00:00,shekhargupta68,0
1,Heartiest congratulations,2020-06-12 14:43:09+00:00,truspectra,0
2,The new norm after #COVID19 ...what are the ch...,2020-06-12 14:40:03+00:00,spf_in,0
3,It's as real as #sunrises in the #east,2020-06-12 14:28:26+00:00,raj_knp,0
4,"civil engineers of all IIT institutes , it is...",2020-06-12 14:27:10+00:00,shekhargupta68,0
...,...,...,...,...
10042,"In a seemingly bizarre development, the IIT in...",2020-01-01 04:24:51+00:00,dgp202079,6
10043,"In a seemingly bizarre development, the IIT in...",2020-01-01 04:15:42+00:00,NH_India,12
10044,IIT Kanpur panel to decide if Faiz poem is ant...,2020-01-01 04:12:34+00:00,thetribunechd,371
10045,New Year Resolutions for @IITKanpur,2020-01-01 02:33:03+00:00,SyedFatehAlam,0
10046,A faculty at IIT Kanpur has submitted this vid...,2020-01-01 02:30:29+00:00,RENEWEDPKP,0

In [11]:
#check how many tweets were from one of the university handles
uni_tweets = tweets_df.loc[tweets_df['username'].isin(['iitkanpur','IitMse'])]

In [12]:
uni_tweets['uni_handle'] = 1

C:\Users\KIRHIKAGURUMURTHY\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
tweets_df['uni_handle'] = uni_tweets['uni_handle']

In [15]:
iitk = tweets_df.combine_first(tweets_df)
iitk

,Tweet_text,date,username,retweets,uni_handle
0,The valuation subject should be post graduate ...,2020-06-12 14:45:07+00:00,shekhargupta68,0,NaN
1,Heartiest congratulations,2020-06-12 14:43:09+00:00,truspectra,0,NaN
2,The new norm after #COVID19 ...what are the ch...,2020-06-12 14:40:03+00:00,spf_in,0,NaN
3,It's as real as #sunrises in the #east,2020-06-12 14:28:26+00:00,raj_knp,0,NaN
4,"civil engineers of all IIT institutes , it is...",2020-06-12 14:27:10+00:00,shekhargupta68,0,NaN
...,...,...,...,...,...
10042,"In a seemingly bizarre development, the IIT in...",2020-01-01 04:24:51+00:00,dgp202079,6,NaN
10043,"In a seemingly bizarre development, the IIT in...",2020-01-01 04:15:42+00:00,NH_India,12,NaN
10044,IIT Kanpur panel to decide if Faiz poem is ant...,2020-01-01 04:12:34+00:00,thetribunechd,371,NaN
10045,New Year Resolutions for @IITKanpur,2020-01-01 02:33:03+00:00,SyedFatehAlam,0,NaN
10046,A faculty at IIT Kanpur has submitted this vid...,2020-01-01 02:30:29+00:00,RENEWEDPKP,0,NaN

In [16]:
iitk[iitk['uni_handle'] == 1]

,Tweet_text,date,username,retweets,uni_handle
5552,9th Annual Samsonov Memorial Lecture was held ...,2020-03-06 04:05:15+00:00,IitMse,0,1.0
5614,It gives us immense pleasure to share that Mat...,2020-03-03 09:41:13+00:00,IitMse,0,1.0
5692,"Dept. of MSE, IIT Kanpur welcomes Prof. Kinnor...",2020-02-28 14:22:11+00:00,IitMse,0,1.0
5982,Department of Materials Science and Engineerin...,2020-02-19 06:13:00+00:00,IitMse,2,1.0
6020,"Prof. Kannan M. Krishnan, an alumni of IIT Kan...",2020-02-17 10:26:55+00:00,IitMse,4,1.0
6085,9th Samsonov Memorial International Lecture Se...,2020-02-14 09:50:00+00:00,IitMse,0,1.0
6184,"3rd International Workshop on ""High Entropy Ma...",2020-02-10 11:07:16+00:00,IitMse,0,1.0
6283,Department of Materials Science and Engineerin...,2020-02-06 11:35:09+00:00,IitMse,0,1.0
6297,"Dr. Wayne Chen, Managing Director of Asia Paci...",2020-02-06 05:00:06+00:00,IitMse,0,1.0
6683,"Mr. Guddu Kumar, Department of Materials Scien...",2020-01-28 07:08:22+00:00,IitMse,0,1.0
7166,A Novel high strength bainitic steel developed...,2020-01-14 03:36:30+00:00,IitMse,0,1.0

In [17]:
iitk['uni_handle'] = iitk['uni_handle'].replace(np.nan, 0)

In [18]:
iitk[iitk['uni_handle'] == 1]

,Tweet_text,date,username,retweets,uni_handle
5552,9th Annual Samsonov Memorial Lecture was held ...,2020-03-06 04:05:15+00:00,IitMse,0,1.0
5614,It gives us immense pleasure to share that Mat...,2020-03-03 09:41:13+00:00,IitMse,0,1.0
5692,"Dept. of MSE, IIT Kanpur welcomes Prof. Kinnor...",2020-02-28 14:22:11+00:00,IitMse,0,1.0
5982,Department of Materials Science and Engineerin...,2020-02-19 06:13:00+00:00,IitMse,2,1.0
6020,"Prof. Kannan M. Krishnan, an alumni of IIT Kan...",2020-02-17 10:26:55+00:00,IitMse,4,1.0
6085,9th Samsonov Memorial International Lecture Se...,2020-02-14 09:50:00+00:00,IitMse,0,1.0
6184,"3rd International Workshop on ""High Entropy Ma...",2020-02-10 11:07:16+00:00,IitMse,0,1.0
6283,Department of Materials Science and Engineerin...,2020-02-06 11:35:09+00:00,IitMse,0,1.0
6297,"Dr. Wayne Chen, Managing Director of Asia Paci...",2020-02-06 05:00:06+00:00,IitMse,0,1.0
6683,"Mr. Guddu Kumar, Department of Materials Scien...",2020-01-28 07:08:22+00:00,IitMse,0,1.0
7166,A Novel high strength bainitic steel developed...,2020-01-14 03:36:30+00:00,IitMse,0,1.0

In [19]:
#dataframe containing additional column uni_handle (1 if it is a handle of the university else 0)
#iitm[iitm['uni_handle'] == 0] 
iitk_final = iitk.drop_duplicates()
iitk_final

,Tweet_text,date,username,retweets,uni_handle
0,The valuation subject should be post graduate ...,2020-06-12 14:45:07+00:00,shekhargupta68,0,0.0
1,Heartiest congratulations,2020-06-12 14:43:09+00:00,truspectra,0,0.0
2,The new norm after #COVID19 ...what are the ch...,2020-06-12 14:40:03+00:00,spf_in,0,0.0
3,It's as real as #sunrises in the #east,2020-06-12 14:28:26+00:00,raj_knp,0,0.0
4,"civil engineers of all IIT institutes , it is...",2020-06-12 14:27:10+00:00,shekhargupta68,0,0.0
...,...,...,...,...,...
10042,"In a seemingly bizarre development, the IIT in...",2020-01-01 04:24:51+00:00,dgp202079,6,0.0
10043,"In a seemingly bizarre development, the IIT in...",2020-01-01 04:15:42+00:00,NH_India,12,0.0
10044,IIT Kanpur panel to decide if Faiz poem is ant...,2020-01-01 04:12:34+00:00,thetribunechd,371,0.0
10045,New Year Resolutions for @IITKanpur,2020-01-01 02:33:03+00:00,SyedFatehAlam,0,0.0
10046,A faculty at IIT Kanpur has submitted this vid...,2020-01-01 02:30:29+00:00,RENEWEDPKP,0,0.0

In [20]:
#Finding sentiment of the tweets using VADER
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
iitk['compound'] = [analyzer.polarity_scores(v)['compound'] for v in iitk['Tweet_text']]

In [21]:
iitk

,Tweet_text,date,username,retweets,uni_handle,compound
0,The valuation subject should be post graduate ...,2020-06-12 14:45:07+00:00,shekhargupta68,0,0.0,0.5423
1,Heartiest congratulations,2020-06-12 14:43:09+00:00,truspectra,0,0.0,0.5994
2,The new norm after #COVID19 ...what are the ch...,2020-06-12 14:40:03+00:00,spf_in,0,0.0,0.0772
3,It's as real as #sunrises in the #east,2020-06-12 14:28:26+00:00,raj_knp,0,0.0,0.0000
4,"civil engineers of all IIT institutes , it is...",2020-06-12 14:27:10+00:00,shekhargupta68,0,0.0,0.4939
...,...,...,...,...,...,...
10042,"In a seemingly bizarre development, the IIT in...",2020-01-01 04:24:51+00:00,dgp202079,6,0.0,-0.3182
10043,"In a seemingly bizarre development, the IIT in...",2020-01-01 04:15:42+00:00,NH_India,12,0.0,-0.3182
10044,IIT Kanpur panel to decide if Faiz poem is ant...,2020-01-01 04:12:34+00:00,thetribunechd,371,0.0,0.0000
10045,New Year Resolutions for @IITKanpur,2020-01-01 02:33:03+00:00,SyedFatehAlam,0,0.0,0.0000
10046,A faculty at IIT Kanpur has submitted this vid...,2020-01-01 02:30:29+00:00,RENEWEDPKP,0,0.0,0.0000

In [22]:
#classifying sentiments as positive,negative and neutral
def sentiment(compound):
    res = ""
    if(compound >= 0.05):
        res="Positive"
    elif(compound <= - 0.05):
        res="Negative"
    else:
        res="Neutral"
    return res

iitk['Sentiment'] = iitk['compound'].apply(lambda x: sentiment(x))

In [23]:
iitk

,Tweet_text,date,username,retweets,uni_handle,compound,Sentiment
0,The valuation subject should be post graduate ...,2020-06-12 14:45:07+00:00,shekhargupta68,0,0.0,0.5423,Positive
1,Heartiest congratulations,2020-06-12 14:43:09+00:00,truspectra,0,0.0,0.5994,Positive
2,The new norm after #COVID19 ...what are the ch...,2020-06-12 14:40:03+00:00,spf_in,0,0.0,0.0772,Positive
3,It's as real as #sunrises in the #east,2020-06-12 14:28:26+00:00,raj_knp,0,0.0,0.0000,Neutral
4,"civil engineers of all IIT institutes , it is...",2020-06-12 14:27:10+00:00,shekhargupta68,0,0.0,0.4939,Positive
...,...,...,...,...,...,...,...
10042,"In a seemingly bizarre development, the IIT in...",2020-01-01 04:24:51+00:00,dgp202079,6,0.0,-0.3182,Negative
10043,"In a seemingly bizarre development, the IIT in...",2020-01-01 04:15:42+00:00,NH_India,12,0.0,-0.3182,Negative
10044,IIT Kanpur panel to decide if Faiz poem is ant...,2020-01-01 04:12:34+00:00,thetribunechd,371,0.0,0.0000,Neutral
10045,New Year Resolutions for @IITKanpur,2020-01-01 02:33:03+00:00,SyedFatehAlam,0,0.0,0.0000,Neutral
10046,A faculty at IIT Kanpur has submitted this vid...,2020-01-01 02:30:29+00:00,RENEWEDPKP,0,0.0,0.0000,Neutral

In [24]:
iitk.to_csv('final_iitk.csv')